.admin_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
  position: sticky;
  top: 0;
  margin-bottom: 0.75rem;
  width: 100%;
  z-index: 9;
  background: var(--clr-white);

  .search_input_container {
    flex: 1;
    height: 2.8rem;
    .search_input {
      width: 50%;
      max-width: 25rem;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      padding-inline-start: 0.5rem;
      border: 2px solid var(--clr-lemon);

      .search_icon {
        font-size: 1.5rem;
      }

      input[type="search"] {
        width: 100%;
        align-self: stretch;
        padding-inline: 0.5rem;
        font-size: 1.2rem;
        outline: none;
        border: none;
        background: none;
        color: var(--text-clr);

        &::placeholder {
          color: var(--text-clr);
        }
      }
    }
  }
  .btn_container {
    > button {
      width: 100%;
    }
  }
}

/* MOBILE DESIGN */
@media (max-width: 600px) {
  .admin_header {
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;

    .search_input_container {
      flex: 1;

      .search_input {
        width: 100%;
        height: 2.8rem;

        .search_icon {
          font-size: 1.5rem;
        }

        input[type="search"] {
          width: 100%;
          align-self: stretch;
          padding-inline-start: 0.5rem;
          font-size: 1.2rem;
          outline: none;
          border: none;
        }
      }
    }

    .btn_container > button {
      float: left;
      width: 100%;
    }
  }
}
