.rbc-header {
   padding: 0.2rem;
   font-size: 0.7rem;
}

.rbc-event {
   /* display: 0px !important; */
   /* border-radius: 0px !important; */
   /* border: none !important; */
   /* border-color: transparent !important;; */
}

.rbc-time-slot {
   /* background-color: aliceblue; */
   color: black;
}

.rbc-event-label {
   display: none !important;
   ;
}

.rbc-events-container {
   width: 100% !important;
}

.rbc-timeSlot-group {
   min-height: 120px !important;
}

.rbc-btn-group {
   /* margin: 0rem; */
}

.rbc-btn-group button {
   padding: 0.3rem;
   font-size: 0.55rem;
   /* border: 1px solid rgb(235, 234, 234); */

}

.rbc-toolbar-label {
   /* padding: 0.2rem; */
   font-size: 0.7rem;
   font-weight: 600;
}

.rbc-month-view {
   font-size: 0.3rem;
   /* border: 1px solid rgb(157, 157, 157); */
}

.rbc-day-bg {
   border: none;
   font-size: 0.5rem;
}

.rbc-row {
   border: none;
   font-size: 0.6rem;
   opacity: 0.8;

}