.header-container {
  max-width: 78rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  min-height: 60px;
  padding: 30px 0px;
  /* background-color: var(--clr-white); */
  position: relative;
}

.logo {
  height: auto;
  width: 180px;
}

.menu-icon {
  display: none;
}

.nav-elements {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-elements ul {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-elements ul a,
.navBtn {
  color: var(--text-clr);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
}

.nav-elements ul a.active,
.navBtn.active {
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after,
.navBtn.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: teal;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .header-container {
    /* padding: 0 14px; */
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .menu-btn {
    display: none;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 80px;
    background-color: #8ce200;
    width: 0px;
    height: calc(100vh - 80px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    align-items: start;
    z-index: 999;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

/* BACKDROP */

.backdrop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 11%;
  z-index: 10;
}

/* END OF BACKDROP */

/* button */

.btn {
  align-items: center;
  border: none;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  max-width: 160px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;

  &:disabled {
    cursor: not-allowed;
    opacity: 50%;
  }
}

.btn .btn-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 600px) {
  .btn {
    padding: 0.8rem 1.5rem;
    width: fit-content;

    .btn-text {
      white-space: nowrap;
    }
  }

  .nav-elements > * {
    padding: 30px;
  }
}

.btn-default {
  background-color: var(--clr-lemon);
}

.btn-info {
  background-color: var(--clr-btn-green);
  color: white !important;
}

.btn-info > .btn-text {
  color: white !important;
}

.btn-outline {
  border: 2px solid var(--clr-lemon);
  background: none;

  &:hover {
    background-color: var(--clr-lemon);
  }
}

.btn.btn-default:hover {
  background-color: var(--clr-lemon-hover);
}

/* end button */

/* custom shortcut css */

.container {
  max-width: 85rem;
  width: 95%;
  margin-inline: auto;
}

@keyframes blink {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.red {
  animation: blink 1s infinite ease;
  > * {
    color: red;
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}
@media (max-width: 600px) {
  .sticky {
    position: static;
    top: 0;
    z-index: 10;
  }
}

.cursor_pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.gap-2 {
  gap: 0.6rem;
}
.mb-2 {
  margin-bottom: 0.8rem;
}

.align-end {
  align-self: flex-end;
}
.align-center {
  align-self: center;
}

.teacher_link {
  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: var(--clr-lemon);
  }
}
/* end custom shortcut css */

/* Footer */

.top-footer {
  background-color: var(--clr-lemon);
  width: 100%;
  padding: 80px 20px 0px;
}

.top-footer .div-grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.top-footer .div-grid > * {
  padding: 1rem;
}

.top-footer .list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top-footer .list-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top-footer .item {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
}

.footer-social {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top-footer .footer-logo {
  height: auto;
  width: 194px;
}

.bottom-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--clr-lemon);
  padding: 30px 30px;
}

@media (max-width: 600px) {
  .top-footer {
    padding: 20px 10px;
  }
  .top-footer .div-grid {
    display: block;
    width: 100%;
  }

  .top-footer .list,
  .top-footer .list-2,
  .top-footer .item {
    align-items: center;
  }

  .footer-social {
    align-items: center;
  }

  .top-footer .footer-logo {
    height: auto;
    width: 250px;
  }
}

/* end footer */

/* profile card */

.profile-card {
  width: 100%;
  max-width: 23rem;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  text-align: center;
  font-size: 1em;
  box-shadow: 0px 3px 3px 0px rgba(20, 20, 20, 0.4);
  min-height: 400px;
  margin-bottom: 50px;
  position: relative;

  .menu {
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
  }
  .menu-list {
    position: absolute;
    top: 55px;
    right: 24px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 8px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 2;
  }

  .menu-item {
    cursor: pointer;
    padding: 8px;
    min-width: 60px;
    font-size: small;
    &:hover {
      background-color: #f2f2f2;
    }
  }

  .user-image {
    height: 200px;
    background-color: var(--clr-light-lemon);
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: small;
    line-height: 1rem;
  }

  .user-image img {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    object-fit: cover;
  }

  .profile-name {
    font-size: 1.5em;
    font-weight: 700;
  }

  .profile-info > * {
    margin-top: 10px;
  }

  .content {
    min-height: 150px;
    color: #565656;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: small;
  }
}

/* end profile card */
