@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html, body {
  margin: 0;
  padding: 0;
  font-family: poppins,sans-serif;
  overflow-y: auto;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 0;
  }
}

/* 
.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #00ff00;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  margin: 2rem 0;

  transition: background-color 0.3s;
  display: block;
}

.paystack-button:hover {
  background-color: #00cc00;
}

.paystack-button:focus {
  outline: none;
}

 */


 